<!-- CONTENT -->
{% if stats %}
{% endif %}
<div>
    <div id="user_opr" class="popup" style="text-align:initial;">
        <h2>Create a User </h2>
        <div class="popup_body">
            <div>
                <div class="col-md-12">
                    <span class="col-md-5">
                      Email*:
                    </span>
                    <input type="text" id="user_email" class="col-md-6" style="width:262px;" placeholder="Enter a Valid Email Address"></input>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="col-md-5">
                      Full name:
                    </span>
                    <input type="text" id="user_fullname" class="col-md-6" style="width:262px;"></input>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="col-md-5">
                      Username*:
                    </span>
                    <input type="text" id="user_name" class="col-md-6" style="width:262px;" placeholder="e.g. john11, john_dolph"></input>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                  <span class="col-md-5">
                    Assign role to user*:
                  </span>
                  <div class="col-md-5 panel" style="clear:none; margin-bottom:0px;">
                    <form style="height:60px; overflow-y:auto;" id="user_roles">
                      {% for role in roles %}
                        <div>
                          <input type="radio" name="user_role" value="{{role}}" {% if role=='user' %}checked{%endif%} ></input>
                          <span>{{role}}</span>
                        </div>
                      {% endfor %}
                    </form>
                  </div>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="col-md-5">
                      Add user to group:
                    </span>
                    <div class="col-md-5 panel" style="clear:none;">
                        <form style="height:60px; overflow-y:auto;" id="user_groups">
                          {% for group in groups %}
                              <div>
                                <input type="radio" name="selected_group" value="{{group.id}}"></input>
                                <span>{{group.name}}</span>
                              </div>
                          {% endfor %}
                       </form>
                   </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="popup_btn">
            <button class="btn btn-primary" id="addbtn" type="button" value="Add" data-dojo-attach-event="onclick:add">Create user</button>
            <button class="btn" type="button" value="Cancel" data-dojo-attach-event="onclick:onclose">Cancel</button>
        </div>
    </div>
<div>
<!--END CONTENT -->
