<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="./static//css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="./static//css/bootstrap/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="./static/css/bootstrap/prettify.css" rel="stylesheet" type="text/css" />
    <link href="./static/css/font.css" rel="stylesheet" type="text/css" />
    <link href="./static/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png"  href="./static/img/cachebox-favicon.png" />

  <body>
      <div class="center">
              <div style="text-align:center; padding-bottom:10px;">
                  <a target="_blank" href="http://www.cachebox.com"><img style="width:250px; height:50px;padding-left:10px;" class="icon" src="./static/img/logo.png" alt="www.cachebox.com" /></a>
              </div>
        <div class="common-error">
          <div class="alert alert-danger alert-error">
            <strong>{{ title }}!</strong> <br /><br />
            {{ msg }}
            <br /></br />
            Click <a href="/">Login</a> to continue... 
          </div>
        </div>
      </div>
  </body>
</html>
