<!-- CONTENT -->
{% if stats %}
{% endif %}
<div>
    <div id="storage_opr" class="popup" style="text-align:initial;">
        <h2>Update Datastore </h2>
        <div class="popup_body">
            <div>
                <div class="col-md-12">
                  <span class="col-md-5">
                    Datastore name:
                  </span>
                  <input type="text" id="storage_name" style="width:305px;" value="{{storage_name}}"></input>
                  <input type="hidden" id="storage_id" value="{{storage_id}}"></input>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                  <span class="col-md-5">
                    Update datastore's volume:
                  </span>
                  <div class="col-md-7 panel" style="clear:none;">
                      <div style="height:100px; overflow-y:auto;" id="storage_volumes">
                          {% for volume in volumes %}
                              {% if not volume.datastore or storage.volume_id == volume.id %}
                                  <div>
                                   <div class="col-md-4" style="clear:none;padding:0px;">
                                     <input type="checkbox" id="{{volume.id}}" value="{{volume.id}}"></input>
                                     <span>{{volume.name}}</span>
                                  </div>
                                  <div class="col-md-3" style="clear:none;padding:0px;">
                                    <span>{{volume.server}}</span>
                                  </div>
                                  <div class="col-md-2" style="clear:none;padding:0px;">
                                    <span>{{volume.type}}</span>
                                  </div>
                                  <div class="col-md-3" style="clear:none;padding:0px;">
                                    <span>{{volume.size}}</span>
                                  </div>
                            </div>
                           {% endif %}
                          {% endfor %}
                       </div>
                   </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="popup_btn">
            <button class="btn btn-primary" id="addbtn" type="button" value="update" data-dojo-attach-event="onclick:update">Update</button>
            <button class="btn" type="button" value="Cancel" data-dojo-attach-event="onclick:onclose">Cancel</button>
        </div>
    </div>
<div>
<!--END CONTENT -->
